* {
    background-color:whitesmoke;
    /*border: solid red 2px;*/
}

.header {
    display:flex;
    flex: 1 1 auto;
    padding: 16px 16px 0px 16px;
    margin: 0px;
}

/* logo styling */
.raf_icon {
    display: flex;
    flex: 1 1 auto;
    height: 90px;
    width: 90px;
}

/*navigation styling*/
nav {
    display: flex;
    flex: 1 1 auto;
}
   
nav ul {
    display: flex;
    flex: 1 1 auto;
    list-style:none;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

button {
    display: flex;
    flex: 1 1 auto;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: whitesmoke;
    font-weight: 500;
    font-size: 16px;
    height: 65px;
    width: 65px;
    border-radius: 80%;
    justify-content: center;
    align-items: center;
}

a {
    background-color: black;
    color: whitesmoke;
}

/* welcome message styling */
.welcome {
    display: flex;
    flex: 1 1 auto;
    font-family:'Courier New', Courier, monospace;  
}

.welcome,
h1 {
    display: flex;
    flex: 1 1 auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.rad_dog {
    display: flex;
    flex: 1 1 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-style:italic;
    margin: 1px;
    padding: 1px 0px 10px 0px;
    border: 0px;
}

/* home page photo styling */
.welcome_photo {
    display: flex;
    flex: 1;
    height: 800px;
    justify-content: center;
}

.welcome_photo img {
    border: solid black 3px;
}

/* SPECIFIC TO STATS PAGE */

.stats_intro, 
h2 {
    display: flex;
    flex: 1 1 auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    border: 0px;
}

.stats,
h4 {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    gap: 10px;
    margin: 0px;
    padding: 10px 0px;
    border: 0px;
}

.stats_sci,
.stats_numbers,
.stats_naps {
    width: 420px;
}


.stats_sci ul,
.stats_numbers ul,
.stats_naps ul {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    justify-content: center;
    align-items: top;
    margin: 0px;
    padding: 0px 0px 0px 25px;
    border: 0 px;
}

.big {
    font-weight: 700;
}

.stats_sci img,
.stats_numbers img,
.stats_naps img {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    width: 350px;
    height: auto;
    margin: 10px 0px;
    border: black solid 3px;
}



